.env
.env.*
!.env.example
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
*.db
docker-compose.override.yml
.kube/
.vscode/
.idea/
argo-workflows/**/cicd-secrets.yaml
argo-workflows/**/sso-secret.yaml
authentik/**/values.yaml
